<%- include head.ejs %>
<% var result= "";%>
<section class="search container content-section text-center">
    <div class="container">
        <div class="row">
            <div class="span6" id="search">
                <div class="well">
                    <h1>Search for a job:</h1>
                    <input type="text" id="search-input" placeholder="Job Keywords">
                    <button class="btn" id="search-vacancies">Search</button>
                </div>
            </div>
            <div class="span6" id="list">
                <div class="well">
                    <h2>Select the job you want:</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Job Code</th>
                                <th>Job Title</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6" id="courses">
                <div class="well">
                    <h2>Match Course Modules</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Module No.</th>
                                <th>Course Name</th>
                                <th>Point</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="span6" id="keywords">
                <div class="well">
                    <h2>Job Keywords</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>_typeGroup</th>
                                <th>entity_type</th>
                                <th>Keyword name</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="span6" id="info">
                <div class="well">
                    <h2>Job Information</h2>
                    <div id="info-box">
                        <h3></h3>
                        <p class="first"></p>
                        <p class="second"></p>
                    </div>
                </div>
            </div>
            <!--<div class="span6" id="graph">
                <div class="well">
                    <h2>Pay Information</h2>
                    <div id="graph-box"></div>
                </div>
            </div>-->
        </div>
    </div>

</section>


<%- include foot.ejs %>