    <!-- Footer -->
    <footer>
        <div class="container text-center license">
            <em>Includes data from <a href="http://data.soton.ac.uk/dataset/courses"><u>University of Southampton</u></a> which is licensed under <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/"><u>Open Government License</u></a>
            </em><br><em>Includes data from<a href="https://jobsearch.direct.gov.uk/register.aspx?redirect=http%3a%2f%2fjobsearch.direct.gov.uk%2fhome.aspx">Universal Jobmatch </a>which is re-usable by the copyright of <a href="http://www.direct.gov.uk/en/SiteInformation/DG_020460">Crown Copyright</a> licensed under<a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/"><u>Open Government License</u></a><br><em> Job data powered by <a href="http://www.lmiforall.org.uk/">LMI for All</a> API</em>
            </p>
        </div>
    </footer>

    <script src="/js/course.js"></script>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/grayscale.js"></script>
    

</body>

</html>