<%- include head.ejs %>
<section class="search container content-section text-center">
    <div class="container">
        <div class="row logo">
             <img src="/img/logo.gif" alt="Project Logo"> 
        </div>
        <div class="row">
            <div class="span6" id="search">
                <div class="well">
                    <h1>Choose a module (Soton ECS):</h1>
                    <select class="course-array"></select>
                    <button class="btn" id="search-from-course">Search</button>
                </div>
            </div>
             <div class="span6" id="course-keywords">
                <div class="well">
                    <h2>Select course keywords:</h2>
                    <div id="course-tag"></div>
                </div>
            </div>
            <div class="span6" id="job-list">
                <div class="well">
                    <h2>Select the job you want:</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>SOC Code</th>
                                <th>Job Title</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6" id="job-information">
                <div class="well">
                    <h2>Job Information</h2>
                    <div id="info-box">
                        <h3></h3>
                        <p class="first"></p>
                        <p class="second"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<%- include foot.ejs %>